@page "/"

@using System.Net;
@using RazorInterviewFinstar.Models
@using RazorInterviewFinstar.Data
@using System.Text.RegularExpressions;

@inject AuthenticationService AuthService
@inject GetInformationService InfoService

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <input class="form-control" placeholder="Type account number" @bind-value="Number" @bind-value:event="oninput" />
        </div>
        <div class="col">
            <button class="btn btn-success" @onclick="SendRequest">Get info</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            @if (@account is not null && account.status != 6)
            {
                <p>@account.data.First().contact_id</p>
                <p>@account.data.First().first_name</p>
                <p>@account.data.First().hash_campaign</p>
                <p>@account.data.First().hash_password</p>
                <p>@account.data.First().last_name</p>
                <p>@account.data.First().middle_name</p>
            }
            else if (account is not null && account.status == 6)
            {
                <p>@account.description</p>
            }
            else
            {
                <p>Number not found</p>
            }
        </div>
    </div>
</div>


@code
{
    private Account account;
    private CookieContainer cookie;

    private string number;
    private string Number
    {
        get
        {
            return number ?? string.Empty;
        }
        set
        {
            PhoneMask(value);
        }
    }

    private async Task SendRequest()
    {
        cookie = await AuthService.TryAuthAsync();

        if (cookie.Count > 0)
        {
            account = await InfoService.GetInfoAsync(cookie, Number);
            Number = string.Empty;
        }
    }

    private void PhoneMask(string value)
    {
        string pattern = @"\D+";
        string target = "";
        Regex regex = new Regex(pattern);
        number = "+" + regex.Replace(value, target);
        if (number.Length > 13)
        {
            number = number.Remove(number.Length - 1, 1);
        }
    }
}